html
    head 
        title Movie Database 
        link(rel='stylesheet' href='/stylesheet.css')
body 
    include ../partials/header

    div#main
        h2.sectionHeader Add a new Person:
        br
    #inputBox
        b.text Name:
        input(type="text" id="new_person" required)
        br
    #centeredButton
        button(type="button" id="add_person") Add
        br
        br
        hr
        br
        div#addmovie 
        h2.sectionHeader Add a new Movie:
        br
    #inputBox
        b.text Title:
        input(type="text" id="title_in" required)
        br
        b.text Release Year:
        input(type="text" id="release_in" required)
        br
        b.text Runtime:
        input(type="text" id="length_in" required)
        br
        b.text Plot:
        input(type="text" id="plot_in" required)
        br
        b.text Genre:
        input(type="text" id="genre_in" required)
        br
        b.text Director:
        input(type="text" id="director_in" required)
        br
        b.text Writer:
        input(type="text" id="writer_in" required)
        br
        b.text Actor:
        input(type="text" id="actor_in" required)
        br
    #centeredButton
        button(type="button" id="add_movie") Add