html
    head 
        title Movie Database 
        link(rel='stylesheet' href='/stylesheet.css')
body 
    include ../partials/header

    div#main
        h1.titles Welcome to the Movie Database! 
        br
        br
    #inputBox
        b.text Username: 
        input(type="text" id="userName_in")
        br
        b.text Password:
        input(type="password" id="password_in")
        br
    #centeredButton
        button(type="button" id="log_in") Log In 
        | &nbsp;&nbsp;&nbsp;
        button(type="button" id="sign_up") Sign Up