head
    link(rel='stylesheet' href='/stylesheet.css')
    title Search Results
    meta(name='viewport' content='width=device-width, initial-scale=1')
#descriptor

    if results.length > 0
        h1.Titles Movies Found:
        each res in results
            a.CentredHyperLinks#actors(href="/movies/" + res.mID) #{res.Title}
            br
    if results.length = 0 
        h1.Titles NO MOVIES FOUND. 
        a.CentredHyperLinks#actors(href="/search") go back to search page!
        


